// variables
$color-background: #f8f7f3;
$color-border: #e7e4de;
$color-black: #1e2925;
$color-accent: #dd5c4c;
$color-blush: #fff0ed;
$color-ivory: #f4f1e9;

$sm: 576px; // small
$md: 768px; // medium
$lg: 992px; // large
$xl: 1200px; // extra large
